apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: default
type: Opaque
stringData:
  username: hanaphi
  password: hanaphi
  # Or use base64 encoding:
  # password: eW91ci1zZWN1cmUtcGFzc3dvcmQ=  # base64 encoded